h1  {
    background-color: #f58ea0;
    color: #dad8d8;
    font-size: 0.5em;
}
.head2 {
    background-color: rgb(206, 202, 202);
    color: hotpink;
    font-size: 1,5em;
}
#maintopic_p {
    background-color: rgb(216, 141, 179);
}
.subtopic {
    background-color: gold;
    font-size: 1.9em;
}
h3:hover {
    color: rgb(40, 218, 215);
}
ul  {
    background-color: rgb(21, 227, 235);
    list-style: none;
}
ul:hover {
    background-color: rgba(250, 236, 39, 0.884);
}
.mail {
    background-color: rgb(121, 217, 235);
    list-style: circle;
}
.mail:hover {
    background-color: rgb(216, 159, 205);
}
h2 a {
    color: violet;
}
h4 a {
    color: rgb(81, 198, 233);
}
.megawrapper {
    width: 800px;
    background-color: teal;
}
html {
    background-color: tomato;
    font-size: 28px;
}